@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap');

/* general styles start*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
}

/* flex */
.d-flex {
    display: flex;
}

.d-flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.d-flex-between {
    display: flex;
    justify-content: space-between;
}



/* text xcal */
.text-center {
    text-align: center;
}

.text-courgette {
    font-family: 'Courgette',
        cursive;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* background color */
.bg-tomatoes {
    background-color: rgb(252, 78, 47);
}

.bg-teal {
    background-color: teal;
}




/* general styles end */


/* app styles */
.app-wrapper {
    min-height: 100vh;
    background-color: rgb(255, 254, 254);


}

.todo-container {
    min-height: 100vh;
    padding-top: 2rem
}

.todo-container h3 {
    margin-bottom: 2.2rem;
    font-size: 33px;
}

.todo-wrapper {
    padding: 1.5rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    max-width: 520px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-circle {
    border: none;
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.btn-circle:hover {
    transform: translateY(-4px);
    box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.4);
    background-color: white;
    color: teal;
}

.btn-circle:focus {
    transform: translateY(-1px);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    outline: none;

}

.task-input {
    flex-grow: 1;
    margin-right: 15px;
    padding: 5px 5px;
    text-transform: capitalize;
    font-size: 15px;
}

.task-input:focus {
    outline: none;
}

.todo-output-wrapper {
    margin-top: 1rem;
    padding-top: 2.5rem;

}

.todo-title {
    margin-bottom: 15px;
    font-size: 19px;
}

.task {
    background-color: white;
    box-shadow: 1px 0 2px 2px rgba(0, 0, 0, 0.4);
    padding: 12px 8px 12px 14px;
    border-left: 5px solid teal;
    border-radius: 7px;
    font-size: 15px;
    margin-bottom: 15px;
}

.task-note {
    flex-grow: 1;
    margin-right: 8px;
}

.edit {
    color: teal;
    margin-right: 7px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.thrash {
    color: tomato;
    cursor: pointer;
    transition: all 0.3s linear;
}

.task i:hover {
    transform: scale(1.2);
}

.btn-teal {
    background-color: #26a69a;
    color: white;
    margin-top: 1.5rem;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-left: auto;
}